# Web Framework and WSGI
Flask
gunicorn
Werkzeug

# Async and WebSocket
flask_socketio
python-engineio
python-socketio

# Authentication and Security
Flask-Login
firebase-admin

# Task Scheduling
APScheduler

# Database
pymongo
dnspython

# Environment and Utils
python-dotenv
fuzzywuzzy
python-Levenshtein

# Media Processing
ffmpeg-python
Pillow

# Core Dependencies
click
itsdangerous
Jinja2
MarkupSafe
bidict
six

# Firebase and Google Cloud Dependencies
cachetools
google-auth
google-cloud-storage
requests
urllib3
certifi
charset-normalizer
idna
uvicorn
asgiref
hypercorn

#timezone
pytz

requests
